{% extends '../template.html' %}
{% block head %}
<link rel="stylesheet" href="../../css/materialize.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../../css/style.css" media="screen" title="no title" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../../js/materialize.min.js" charset="utf-8"></script>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s4 offset-s2">
        <span class="input-label"><strong>Twitch Name OR reddit name</strong></span>
        <input id="admin_search" type="text" class="validate"  style="margin-top: 40px;">
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s2">
        <button class="admin-submit-search btn waves-effect waves-purple grey darken-3" type="submit" name="action">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="search-results row">
  <div class="row">
    <div class="input-field col s4 offset-s2">
      <span class="input-label"><strong>Twitch name</strong></span>
      <input id="result_twitchname" type="text" style="margin-top: 40px;">
    </div>
    <div class="input-field col s4">
      <span class="input-label"><strong>Reddit Name</strong></span>
      <input id="result_redditname" type="text" class="validate"  style="margin-top: 40px;">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s2">
      <p>
        <span class="input-label">Approve</span>
        <input name="searchgroup" type="radio" id="set_approved" value="approved"/>
      </p>
      <p>
        <span class="input-label">Reject</span>
        <input name="searchgroup" type="radio" id="set_reject" value="rejected"/>
      </p>
      <p>
        <span class="input-label">Pending</span>
        <input name="searchgroup" type="radio" id="set_pending" value="pending"/>
      </p>
      <p>
        <input name="searchgroup" type="radio" id="set_clear"  value="clear"/>
        <label for="set_clear">Clear Intro</span>
      </p>
      <p>
        <input class="with-gap" name="setadmin" type="checkbox" id="set_admin" />
        <label for="set_admin">Set as site admin</span>
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col s4 offset-s2">
      <button class="admin-modify-user btn waves-effect waves-purple grey darken-3" type="submit" name="action">Submit Changes</button>
    </div>
  </div>
</div>


  {% endblock %}


  {% block footer %}
  <script src="../../js/site.js" charset="utf-8"></script>
  {% endblock %}
