var config = {};

config.app = {};
config.twitch = {};
config.app.rethink = {};


config.app.port = 8081;
config.app.baseurl = "http://localhost:"+config.app.port;
config.app.cookie = " ";

config.app.rethink.host = "localhost";
config.app.rethink.port = "28015";
config.app.rethink.db = "introdb";

config.twitch.grant = 'authorization_code';
config.twitch.redirect = config.app.baseurl+"/auth/";

config.twitch.cid = " ";
config.twitch.secret = " ";
config.twitch.authurl = 'https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id='+config.twitch.cid+'&redirect_uri='+config.twitch.redirect+'&scope=user_read';
config.twitch.header = {
  headers: {'Accept': 'application/vnd.twitchtv.v5+json','Client-ID': ' ' }
}
config.reddit = {
  auth: {
    grant_type: 'password',
    username: ' ', //your username
    password: ' ' // your password
  },
  oauth: {
    clientid: ' ', //application client id (use script, make sure its tied to the user credentials above)
    secret: ' ', //app secret
  }

}
module.exports = config;
