{% include "./header.html" %}
<div class="container">
	<h3>What is this?</h3>
	<hr />
	<p>TwitchDB is a project developed to help and enable streamers to better their craft. For any questions on how to use the site, see the <a href="/faq" title="FAQ">FAQ</a>.</p>
	<p>
		The Twitch Subreddit started very humble and we stored our intro database in a Google Documents file. This worked for a while, but as the subreddit grew that file became larger and harder to manage.<br />
		Because of that, we needed a better way to manage everything. In addition, we can now provide a platform that will help promote streamers and recieve feedback on how to improve their streams.<br />
		This site will also be a resource for other tools that will be developed and added in the "stream resources" section as time goes on. The stream resource section will also be a quick, one stop shop for some of the most common tools a streamer may need to get the ball rolling.
	</p>
	<br />
	<hr />
	<br />
	<ul id="list-images">
		<li>
			<img src="/img/mods/distorted.png" class="modimg img-circle" />
			<div style="display: none;">
				<h3>Distortednet</h3>
				Distortednet is the developer of twitchdb. He is currently writing this in the third person and it feels weird. Hyper-passionate about Twitch, Distorted is a jack of all trades and handles moderation duties such as configuring automod, and cleaning up shannon's .css mess! Anything electronic is a hobby, but Distorted is interested in other things such as simple living, and has a weird romance with wanting to live in a van.
			</div>
		</li>
		<li>
			<img src="/img/mods/mellownebula.jpeg" class="modimg img-circle" />
			<div style="display: none;">
				<h3>MellowNebula</h3>
				The token Australian of the r/Twitch moderation team, Mellow watches over you while you sleep. Gaming since the days of DOS, he often attended LANs between classes while on exchange in Turkey and has contributed to numerous online communities over the years. Since joining Twitch in early 2013, Mellow has set to work learning all he can about online media, team-building and community management. He began streaming on Twitch in early 2014 to raise funds for a non-profit, culminating in his conquering of Mount Kilimanjaro in February of 2015 and the team's raising of more than $62,000 collectively. These days Mellow focuses on his moderation duties throughout the many communities and Twitch teams he is a part of while maintaining a passion for community management and administration. In his spare time, he's working towards double bachelors in Journalism and International Relations.
			</div>
		</li>
		<li>
			<img src="/img/mods/boomliam.png" class="modimg img-circle" />
			<div style="display: none;">
				<h3>BoomLiam</h3>
				BoomLiam has been involved in the Twitch community since it was once called JustinTV (oh, them was the days!). He recently realised that his knowledge of the site and passion towards the community can be used to assist those who need help; so he took the task upon himself to help on the @TwitchSupport Twitter account as well as on reddit. He was then thrown into the back of a van - forced to spend the rest of his life helping the community.<br />
				In his spare time, Liam runs his own community servers and is learning all about the computer machines which will destroy us all! Hoping one day to relinquish the chains of oppression that Shannon hath cast upon him, and become a System Administrator or Server Engineer person guy.
				<br />
				BoomLiam is also passionate lover of memes (/me:me/maymemae).
			</div>
		</li>
		<li>
			<img src="/img/mods/kanthes.jpeg" class="modimg img-circle" />
			<div style="display: none;">
				<h3>Kanthes</h3>
				Kanthes is a Twitch Admin, working on a variety of things such as spam detection and twitter support. He’s been involved with Twitch since early 2013, and is a vast consumer of wrong-doers. He watches a wide array of variety-casters, but will tune into practically any type of stream that catches his eye. He lives in the cold north of Sweden, ruling over his domain with an iron fist clad in a silk glove.
			</div>
		</li>
		<li>
			<img src="/img/mods/tarfu.jpg" class="modimg img-circle" />
			<div style="display: none;">
				<h3>Tarfu</h3>
				Tarfu is a Twitch Admin, he has been active on JTV/Twitch since 2009 and partnered by 2011. He does a variety of things in the community and is very active in the WoW, LoL, SC2, communities. If you go to any live events search for him since he goes to at least 10 conventions a year!
			</div>
		</li>
	</ul>
	<div style="clear: both;"></div>
	<div id="description"></div>
</div>
<script src="/js/about.js"></script>
{% include "./footer.html" %}
