{% extends 'template.html' %}

{% block content %}

<div class="row">
  <div class="col s10 offset-s1">
    <h3>What is this?</h3>
    <p>TwitchDB is a project designed to help streamers promote themselves and grow their community.</p>
    <p>The /r/Twitch community subreddit was once able to manage allowing users to create a single post, with a set format, to advertise their stream. However, as the subreddit grew, this become more and more difficult to manage. Therefore, TwitchDB was created.</p>
    <p>This website also allows streamers whose introductions are approved to be able to receieve feedback from their viewers. In the future, TwitchDB will hopefully also have useful guides and resources that streamers might find useful.</p>
    <p>For more information on how to get started, visit the <a href"/faq">FAQ page</a>.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s10 offset-s1 center">
    <h3>/r/Twitch & TwitchDB Moderators</h3>
    <p>Click the images for a description of each.</p>
  </div>
  <div id="about-mod" class="col s2 offset-s1">
    <a class="modal-trigger" href="#about-distortednet"><img src="/img/mods/distortednet.png"></a>
    <div id="about-distortednet" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - distortednet</h4>
        <hr>
        <p>Distortednet is the developer of TwitchDB. He is currently writing this in the third person and it feels weird. Hyper-passionate about Twitch, Distorted is a jack of all trades and handles moderation duties such as configuring automod, and cleaning up Shannon's .css mess! Anything electronic is a hobby, but Distorted is interested in other things such as simple living, and has a weird romance with wanting to live in a van.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-mellownebula"><img src="/img/mods/mellownebula.png"></a>
    <div id="about-mellownebula" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - MellowNebula</h4>
        <hr>
        <p>The Australian token of the /r/Twitch moderation team, Mellow watches over you while you sleep. Gaming since the days of DOS, he often attended LANs between classes while on exchange in Turkey and has contributed to numerous online communities over the years.</p>
        <p>Since joining Twitch in early 2013, Mellow has set to work learning all he can about online media, team-building and community management. He began streaming on Twitch in early 2014 to raise funds for a non-profit cause, culminating in his conquering of Mount Kilimanjaro in February of 2015 and the team's raising of more than $62,000 collectively.</p>
        <p>These days Mellow focuses on his moderation duties throughout the many communities and Twitch teams he is a part of, while maintaining a passion for community management and administration. In his spare time, he's working towards double bachelors in Journalism and International Relations.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-boomliam"><img src="/img/mods/boomliam.png"></a>
    <div id="about-boomliam" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - BoomLiam</h4>
        <hr>
        <p>BoomLiam has been involved in the Twitch community since it was once called JustinTV (oh, they were the days!). He recently realised that his knowledge of the site and passion towards the community can be used to assist those who need help; so he took the task upon himself to help on the @TwitchSupport Twitter account, as well as on reddit. He was then thrown into the back of a van and forced to spend the rest of his life helping the community.</p>
        <p>In his spare time, Liam runs his own community servers and is learning all about the computer machines which will destroy us all! Hoping one day to relinquish the chains of oppression that Shannon hath cast upon him, and become a System Administrator or Server Engineer person guy.</p>
        <p>BoomLiam is also passionate lover of memes (/me:me/maymemae).</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-conceptional"><img src="/img/mods/conceptional.png"></a>
    <div id="about-conceptional" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - conceptional</h4>
        <hr>
        <p>Conceptional (pronounced /kənˈsep(t)SH(ə)n(ə)l/) is very passionate about /r/Twitch, and the Twitch community in general. He loves meeting new people, moderating channels, helping out other users, and having fun. Most of his time is spent browsing /r/Twitch and watching streams, mainly those playing CS:GO or Minecraft, but also lurks in other directories.</p>
        <p>conceptional is also part of the @Twitchsupport volunteer team where he helps assist fellow Twitch users by answering their tweets and has been ‘Bleeding Purple’ since December 2013.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-laagone"><img src="/img/mods/laagone.png"></a>
    <div id="about-laagone" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - laagone</h4>
        <hr>
        <p>laagone is a Finnish individual who sometimes likes to watch things on Twitch and chat with other people while at it. She also likes helping when possible, such as by sharing knowledge on /r/Twitch. laagone became active on Twitch in Feb 2014 and has been addicted ever since. On her spare time, she plays video games, and also studies software development in school.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="about-mod" class="col s2 offset-s2">
    <a class="modal-trigger" href="#about-heep"><img src="/img/mods/heep123.png"></a>
    <div id="about-heep" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - Heep</h4>
        <hr>
        <p>Heep first started to use Twitch as a streamer. But, in the process of setting up overlays, chat bots and other streaming resources, he soon went into helping other streamers. Heep joined the @TwitchSupport Volunteer team in early 2015 and started to grow a real passion for Twitch, mostly its community. He now spends a lot of time helping around in the community and moderating other streams.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-decicus"><img src="/img/mods/decicus.jpeg"></a>
    <div id="about-decicus" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - Decicus</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur orci elit, vitae luctus lectus tincidunt vitae. Nam a augue vel purus tristique elementum. Curabitur gravida vulputate massa, eu imperdiet dui pellentesque eget. Duis finibus sem eget nibh bibendum, sed tincidunt dolor porta. Nullam tortor arcu, imperdiet non ante et, ornare interdum sem. Proin gravida eget ligula aliquam rutrum. Pellentesque ultricies semper mi vel varius. Proin mollis hendrerit pharetra. Cras a sodales lacus. Cras rhoncus ornare nisi, nec consequat orci maximus vel.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-sargasm_gaming"><img src="/img/mods/sargasm_gaming.png"></a>
    <div id="about-sargasm_gaming" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - sargasm_gaming</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur orci elit, vitae luctus lectus tincidunt vitae. Nam a augue vel purus tristique elementum. Curabitur gravida vulputate massa, eu imperdiet dui pellentesque eget. Duis finibus sem eget nibh bibendum, sed tincidunt dolor porta. Nullam tortor arcu, imperdiet non ante et, ornare interdum sem. Proin gravida eget ligula aliquam rutrum. Pellentesque ultricies semper mi vel varius. Proin mollis hendrerit pharetra. Cras a sodales lacus. Cras rhoncus ornare nisi, nec consequat orci maximus vel.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
  <div id="about-mod" class="col s2">
    <a class="modal-trigger" href="#about-zcotticus"><img src="/img/mods/zcotticus.png"></a>
    <div id="about-zcotticus" class="modal grey darken-3">
      <div class="modal-content">
        <h4>About - Zcotticus</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur orci elit, vitae luctus lectus tincidunt vitae. Nam a augue vel purus tristique elementum. Curabitur gravida vulputate massa, eu imperdiet dui pellentesque eget. Duis finibus sem eget nibh bibendum, sed tincidunt dolor porta. Nullam tortor arcu, imperdiet non ante et, ornare interdum sem. Proin gravida eget ligula aliquam rutrum. Pellentesque ultricies semper mi vel varius. Proin mollis hendrerit pharetra. Cras a sodales lacus. Cras rhoncus ornare nisi, nec consequat orci maximus vel.</p>
      </div>
      <div class="modal-footer grey darken-3">
        <a href="#!" class="modal-close btn waves-effect waves-purple grey darken-2">Close</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
