{% extends 'template.html' %}
{% block content %}

<div class="row">
  <div class="col s8 offset-s2">
    <div class="section">
      <h5>What is TwitchDB?</h5>
      <p>
        TwitchDB is a site that is aimed towards helping streamers get noticed. Additionally, the site provides a feedback system where your viewers can
        submit very detailed feedback so that you can work to improve your stream. For people looking for something new, we have a database of over 6,000 streamers that can be filtered in a variety of ways, using our categories.
      </p>
    </div>
    <div class="section">
        <h5>How do I get started?</h5>
        <p>
          Getting started is easy! just log in, and you'll be directed to your profile setup and overview page. From there, you'll be able to fill out an introduction. Once it's approved, you'll appear in the "streams" section when you are live.
        </p>
    </div>

    <div class="section">
        <h5>I am afraid my viewers won't submit feedback :(</h5>
        <p>
          Your viewers will be able to optionally enable the ability to send anonymous feedback. Do not worry, similar to profiles - all feedback is moderated first. That way, you don't get any malicious shenanigans.
        </p>
    </div>

    <div class="section">
        <h5>How does voting help?</h5>
        <p>
         Votes are a new way to sort streamers. The more votes you have, the higher up you'll appear in the "votes" category. Viewers will only be able to vote once.
        </p>
    </div>

    <div class="section">
        <h5>Why was my intro rejected?!</h5>
        <p>
         Intros are typically rejected because not enough effort has been put into it to consider it worthy for approval. However, some intros may be rejected for containing malicious links too.
        </p>
    </div>

    <div class="section">
        <h5>It's been five minutes, WHY HAS IT NOT BEEN APPROVED?!</h5>
        <p>
         We get a lot of intros. Like, a lot. Typically, it can take anywhere from 1-5 days to approve them.
        </p>
    </div>

    <div class="section">
        <h5>What is channel surf?</h5>
        <p>
         Channel surf is a feature that will randomly select users from the intro database that are online and allow you to quickly view them. This was a feature suggested by a user of the twitch subreddit, and is one of the most popular ways to discover new content.
         On the channel surf page, you'll notice when you hover over the Twitch player, some new icons show up. You can hover over these icons for a description of what they do!
        </p>
    </div>


  </div>
</div>


{% endblock %}
