{% include "./header.html" %}
	<div class="container">
	<h3>How do I create an intro and what does it do for me?</h3>
	<hr>
	<p>An intro will give people a little info about yourself and your goals as a streamer. The better written, the more likely you are to attract new eyes to your stream! just go to your profile to create an intro, it is a self guided process!</p>
	<br>
	<h3>When logging in, the site requests my email address!!!!!</h3>
	<hr>
	<p>At no point is the email address used. This is a required scope by twitch so we can retrieve some info such as your username for twitch and some basic profile info to help automate and personalize some sections of the website.</p>
	<br>
	<h3>I ran into a bug or something does not work as expected, wat do</h3>
	<hr>
	<p>Please tweet @distortednet with any issues.</p>
	<br>
	<h3>I do not appear to be in the intro database. what happened?</h3>
	<hr>
	<p>If you are new, we may not have approved your intro yet. send us modmail so we can look into it. If you are already in the database, or was in the google document database, a number of things could have happened.<br>
	To ensure the most compatibility, we imported the old database to the new one using a strict set of formatting rules, which reduced the number of valid intro's by about half. if you are missing, <strong>LET US KNOW</strong> along with a link to your intro so we can get you re-added to the database.
	</p>
	<br>
	<h3>I want to recieve feedback for my stream, how do i do that?</h3>
	<hr>
	<p>The feedback system is currently being retooled. Hang tight!</p>
	</div>
{% include "./footer.html" %}