<div class="card-content">
  {%if loggedin%}
  <div class="row">
    <form class="col l12 m12 s12">
      <div class="input-field">
        <textarea id="feedback_branding" class="materialize-textarea validate"></textarea>
        <label for="feedback_branding"><strong>Branding</strong><br>What is {{data.twitchname}}'s branding like? IE: do they have consistent images/artwork/intro & outtro sequences? How could things be improved? What is the quality of their artwork for branding?</label>
      </div>
      <div class="input-field">
        <textarea id="feedback_overlay" class="materialize-textarea validate"></textarea>
        <label for="feedback_overlay"><strong>Overlay/Layout</strong><br>How is {{data.twitchname}}'s overlays? are they too much? too little? how about their alert notifications & sounds?</label>
      </div>
      <div class="input-field">
        <textarea id="feedback_panels" class="materialize-textarea validate"></textarea>
        <label for="feedback_panels"><strong>Info Panels</strong><br>Are {{data.twitchname}}'s info panels neatly organized? do you find there is too much info? is there any more info they could be providing in the panels?</label>
      </div>
      <div class="input-field">
        <textarea id="feedback_game" class="materialize-textarea validate"></textarea>
        <label for="feedback_game"><strong>Game Choices</strong><br>What are {{data.twitchname}}'s game choices that you like or dislike? what sort of games would you love to see more of, or think would mesh well with {{data.twitchname}}'s personality?</label>
      </div>
      <div class="input-field">
        <textarea id="feedback_social" class="materialize-textarea validate"></textarea>
        <label for="feedback_social"><strong>Social Network Presence</strong><br>How is {{data.twitchname}}'s social networking? are they active on twitter? would you like to see them on another social platform? what about a chat service such as Discord?</label>
      </div>
      <div class="input-field">
        <textarea id="feedback_other" class="materialize-textarea validate"></textarea>
        <label for="feedback_other"><strong>Other ideas and features</strong><br>what other ideas would you have for {{data.twitchname}}? any words of praise or ways that you can think to improve the stream that hasn't already been covered?</label>
      </div>
      <div class="input-field col l1 m12 s12">
        <select id="feedback_audioquality">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label>Audio Quality</label>
      </div>
      <div class="input-field col l1 m12 s12">
        <select id="feedback_videoquality">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label>Video Quality</label>
      </div>
      <div class="input-field col l1 m12 s12">
        <select id="feedback_chatinteraction">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label>Chat Interaction</label>
      </div>
      <div class="input-field col l2 m12 s12">
        <input type="checkbox" id="feedback_anonymous" /><label for="feedback_anonymous">Make Anonymous</label>
      </div>
      <div class="input-field col l1 push-l6 m12 s12">
        <button class="btn waves-effect waves-purple grey darken-3 right feedback_submit" type="submit" name="action" data-touser="{{data.twitchname}}">Submit</button>
      </div>
    </div>
  </form>
  {%else%}
    You will need to log in to submit feedback.
  {%endif%}
</div>
