<div id="feedbackmodal-{{feedback.uuid}}" class="modal modal-fixed-footer grey darken-3" style="color: white;">
  <div class="modal-content">
    <h4>Feedback from: {%if feedback.anonymous%}Anonymous{%else%}{{feedback.fromuser}}{%endif%}</h4>
    <p><strong>Audio Quality (out of 5): </strong>{{feedback.audioquality}}</p>
    <p><strong>Chat interaction (out of 5): </strong>{{feedback.chatinteraction}}</p>
    <p><strong>Video Quality (out of 5)</strong>{{feedback.videoquality}}</p>
    <p><strong>Branding<br></strong>{% marked %}{{feedback.branding}}{% endmarked %}</p>
    <p><strong>Game choices<br></strong>{% marked %}{{feedback.game}}{% endmarked %}</p>
    <p><strong>Overlay<br></strong>{% marked %}{{feedback.overlay}}{% endmarked %}</p>
    <p><strong>Panels<br></strong>{% marked %}{{feedback.panels}}{% endmarked %}</p>
    <p><strong>Social<br></strong>{% marked %}{{feedback.social}}{% endmarked %}</p>
    <p><strong>Other<br></strong>{% marked %}{{feedback.other}}{% endmarked %}</p>
  </div>
</div>
