<div class="row">
  <div class="col l4 offset-l4">
    <div class="input-field">
      <input id="gamefilter" type="text">
      <label for="gamefilter">Game Name</label>
    </div>
  </div>
  <div class="col l4"><br><br>
    <input type="checkbox" id="popular" />
    <label for="popular">Most Popular</label>
  </div>
</div>


<ul class="gridder">
  {%for data in data %}
  <li class="gridder-list" data-griddercontent="#grid-list-{{loop.index}}" data-game="{{data.game}}" data-popularity="{{data.usercount}}">
    <img class="responsive-img" src="http://static-cdn.jtvnw.net/ttv-boxart/{{data.game}}-272x380.jpg" />
    <p style="margin-top: 0px;" class="hide-on-med-and-down"><strong>{{data.usercount}}</strong> streamer{%if data.usercount != 1%}s{%endif%} playing <strong>{{data.game}}</strong></p>
  </li>
  {%endfor%}
</ul>

{%for data in data %}
<div id="grid-list-{{loop.index}}" class="gridder-content" data-game="{{data.game}}"></div>
{%endfor%}
