{% extends 'template.html' %}
{% block headaddons %}
  <link href="./css/jquery.gridder.min.css" rel="stylesheet">
  <script src="./js/jquery.gridder.min.js"></script>
    <script src="./js/imagesloaded.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s6 offset-s3">
    <ul class="tabs grey darken-4  hide-on-med-and-down streams-tab">
      <li class="tab"><a href="#top" data-tabtype="top" data-location="/">Most Viewers</a></li>
      <li class="tab"><a href="#random"  data-tabtype="random"  data-location="/random">Random</a></li>
      <li class="tab"><a href="#votes"  data-tabtype="votes" data-location="/votes">Votes</a></li>
      <li class="tab"><a href="#games" data-tabtype="games" data-location="/games">Game</a></li>
      <li class="tab"><a href="#mature" data-tabtype="mature" data-location="/mature">Mature</a></li>
      <li class="tab"><a href="#family" data-tabtype="family" data-location="/family">Family Friendly</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div id="top" class="col s12">
  </div>

  <div id="random" class="col s12">
  </div>

  <div id="mature" class="col s12">
  </div>

  <div id="family" class="col s12">
  </div>
  <div id="games" class="col s12">
  </div>
</div>
{% endblock %}
