{% include "./header.html" %}
<div class="container-fluid" id="frontpage">
	{%if data %}
	<div class="featured">
		<center>
			{%for streams in data%}
			<object type="application/x-shockwave-flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{streams.streams.channel.name}}" bgcolor="#000000" class="featuredstreamer">
				<param name="allowFullScreen" value="true" />
				<param name="allowScriptAccess" value="always" />
				<param name="allowNetworking" value="all" />
				<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
				<param name="flashvars" value="hostname=www.twitch.tv&channel={{streams.streams.channel.name}}&auto_play=true&start_volume=0" />
			</object>
			{%endfor%}
			<div class="frontpagestreams">
				{%for streams in data%}
				<img src="{{ streams.streams.preview.medium }}" class="featuredimgpreview">
				{%endfor%}
			</div>
		</center>
	</div>
	{%else%}
	<h1>Something broke D:</h1>
	{%endif%}
</div>
<hr />
<div class="container-fluid">
	<div class="container">
		<strong>Welcome!</strong><br />
		TwitchDB is a site developed to help streamers get noticed, as well as provide a platform for feedback! this frontpage is in serious need of work, sorry its so bare at the moment!
</div>
<script src="/js/featured.js?r={{rng}}"></script>
{% include "./footer.html" %}
