<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">TwitchDB</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/streams">Streams</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Site Feedback</a></li>
				<li><a href="/disclaimer">Disclaimer</a></li>
				<li><a href="https://github.com/distortednet/TwitchDB/commits/master/" target="_blank">Commit Log</a></li>
				<li><a href="/database">DB Search</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{%if !loggedin %}
				<li><a href="{{authurl}}">Login via Twitch</a></li>
				{%else%}
				<li><a href="/profile">Profile</a></li>
				<li><a href="/logout">Logout</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>
