<ul class="tabs feedback-tab grey darken-3" style="overflow: hidden">
  <li class="tab active"><a href="#unread" data-tabtype="feedback" data-location="/user/{{data.twitchname}}/feedback/view/unread">Unread</a></li>
  <li class="tab"><a href="#read" data-tabtype="feedback" data-location="/user/{{data.twitchname}}/feedback/view/read">Read</a></li>
</ul><br>

  <div id="unread" class="unreadcontainer row">
    {%for feedback in data.feedback_data %}
      {%if feedback.read == false && feedback.status == "approved" %}
      <div class="col l2 m2 s2">
        <div class="row" style="margin-bottom: 0px;">
          <a class="feedback-modal" href="#feedbackmodal-{{feedback.uuid}}" data-modaltarget="feedbackmodal-{{feedback.uuid}}" data-uuid="{{feedback.uuid}}" data-read="{{feedback.read}}">
            <img class="responsive-img feedback-img" src="{%if feedback.anonymous%}https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_300x300.png{%else%}{{feedback.logo}}{%endif%}"/>
          </a>
        </div>
        <div class="row hide-on-small-and-down" style="margin-top: 0px;">
          From: {%if feedback.anonymous%}Anonymous{%else%}{{feedback.fromuser}}{%endif%}
        </div>
      </div>
      {% include "./feedback-modal.html" %}
      {%endif%}
    {%endfor%}
  </div>
  <div id="read" class="readcontainer row">
    {%for feedback in data.feedback_data %}
      {%if feedback.read == true && feedback.status == "approved" %}
      <div class="col l2 m2 s2">
        <div class="row" style="margin-bottom: 0px;">
          <a class="feedback-modal" href="#feedbackmodal-{{feedback.uuid}}" data-modaltarget="feedbackmodal-{{feedback.uuid}}" data-uuid="{{feedback.uuid}}" data-read="{{feedback.read}}">
            <img class="responsive-img feedback-img" src="{%if feedback.anonymous%}https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_300x300.png{%else%}{{feedback.logo}}{%endif%}"/>
          </a>
        </div>
        <div class="row hide-on-small-and-down" style="margin-top: 0px;">
          From: {%if feedback.anonymous%}Anonymous{%else%}{{feedback.fromuser}}{%endif%}
        </div>
      </div>
        {% include "./feedback-modal.html" %}
      {%endif%}
    {%endfor%}
  </div>
