{% extends 'template.html' %}
{% block content %}
<!-- <br>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card grey darken-3">
      <div class="card-content">
        <div class="row" >
          <div class="col s6">
            <div class="col s3"><img src="{{api.logo}}" class="circle responsive-img"/></div>
            <div class="col s9">
              <p style="font-weight: 200; font-size: 3em"><a href="http://www.twitch.tv/{{data.twitchname}}" target="_blank">{{data.twitchname}}</a></p>
              <p class="truncate">{% marked %}{{data.intro_data.intro_about|truncate(123)}}{% endmarked %}</p>
            </div>
          </div>
          <div class="col s6" style="padding-top: 3%;">
            <div class="col s4"  style="border-right: 2px dotted #595959; border-left: 2px dotted #595959;">
              <p style="font-weight: 400; font-size: 1.5em; text-align: center;">Followers</p>
              <p style="font-weight: 300; font-size: 1.5em; text-align: center;">{{api.followers}}</p>
            </div>
            <div class="col s4"  style="border-right: 2px dotted #595959;">
              <p style="font-weight: 400; font-size: 1.5em; text-align: center;">Views</p>
              <p style="font-weight: 300; font-size: 1.5em; text-align: center;">{{api.views}}</p>
            </div>
            <div class="col s4" style="border-right: 2px dotted #595959;">
              <p style="font-weight: 400; font-size: 1.5em; text-align: center;">{%if loggedin%}<a href="#" target="_blank" class="addvote" data-voter="{{name}}" data-votetarget="{{data.twitchname}}">Votes</a>{%else%}Votes{%endif%}</p>
              <p style="font-weight: 300; font-size: 1.5em; text-align: center;">{%if data.votes%}{{data.votes.length}}{%else%}0{%endif%}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="profile-nav">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">VODS</a></li>
            <li><a href="#">Submit Feedback</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Suggested Streams</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card  grey darken-3">
      <div class="card-content">
      </div>
    </div>
  </div>
</div> -->
<div class="row">
<div class="col s8 offset-s2">
  <div class="card grey darken-3 profilecard">
    {%if data%}
    <div class="row introheader z-depth-1">
      <div class="col s2  offset-s1 center">
        <h5>{{api.followers}}</h5>
        <p>Followers</p>
      </div>
      <div class="col s2 center">
        <h5>{{api.views}}</h5>
        <p>Total Views</p>
      </div>
      <div class="col s2 center">
        <h5>{{api.mature}}</h5>
        <p>Mature Status</p>
      </div>
      <div class="col s2 center">
        <h5>{%if data.votes%}{{data.votes.length}}{%else%}0{%endif%}</h5>
        <p>Votes</p>
      </div>
      <div class="col s2 center"><br>
          {%if loggedin%}<a href="#" target="_blank" class="addvote" data-voter="{{name}}" data-votetarget="{{data.twitchname}}"><i class="material-icons medium" title="Vote up">thumb_up</i></a>{%endif%}
      </div>

    </div>
    <div class="row">
      <div class="col s9">
        <h4>{{data.twitchname}}</h4><br>
        <strong>About</strong>
        <p>{% marked %}{{data.intro_data.intro_about}}{% endmarked %}</p>
        <strong>Goals</strong>
        <p>{% marked %}{{data.intro_data.intro_goals}}{% endmarked %}</p>
        <strong>Schedule</strong>
        <p>{{data.intro_data.intro_schedule}}</p>
        <strong>Games</strong>
        <p>{% marked %}{{data.intro_data.intro_games}}{% endmarked %}</p>
        <strong>My Background</strong>
        <p>{% marked %}{{data.intro_data.intro_background}}{% endmarked %}</p>
      </div>
      <div class="col s3">
        <img src="{{api.logo}}" class="circle responsive-img z-depth-1"/><br><br>
      </div>
    </div>
    {%else%}
      This profile does not exist. sry bb
    {%endif%}
  </div>
</div>
</div>
{% endblock %}
