<div class="row">
  <div class="col s8 offset-s2">
    <ul class="collapsible"  data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><strong>About</strong></div>
        <div class="collapsible-body"><p class="newline">{{data.intro_data.intro_about}}</p></div>
      </li>
      <li>
        <div class="collapsible-header"><strong>Goals</strong></div>
        <div class="collapsible-body"><p class="newline">{{data.intro_data.intro_goals}}</p></div>
      </li>
      <li>
        <div class="collapsible-header"><strong>Schedule</strong></div>
        <div class="collapsible-body"><p>{{data.intro_data.intro_schedule}}</p></div>
      </li>
      <li>
        <div class="collapsible-header"><strong>Games</strong></div>
        <div class="collapsible-body"><p>{{data.intro_data.intro_games}}</p></div>
      </li>
      <li>
        <div class="collapsible-header"><strong>Background</strong></div>
        <div class="collapsible-body"><p class="newline">{{data.intro_data.intro_background}}</p></div>
      </li>
    </ul>
  </div>
</div>
