{% extends 'template.html' %}
{% block content %}
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="tabs grey darken-4  hide-on-med-and-down profile-tab">
        <li class="tab"><a href="#profile_overview" data-tabtype="overview" data-location="/profile/">Overview</a></li>
        <li class="tab"><a href="#profile_edit" data-tabtype="edit" data-location="/profile/edit">Edit/Create Profile</a></li>
        <li class="tab"><a href="#profile_feedback" data-tabtype="feedback" data-location="/profile/feedback">Feedback</a></li>
      </ul>
    </div>
  </div>
  <div id="profile_overview">
    {%if data.intro_status %}
      {% include "./profile_overview.html" %}
    {%else%}
      if you want to create a profile, click <a href="/profile/edit">HERE</a>
    {%endif%}
  </div>
  <div id="profile_edit">
      {% include "./profile_edit.html" %}
  </div>
  <div id="profile_feedback">
      {% include "./profile_feedback.html" %}
  </div>

  <div class="row">
    <div class="col s12 center profile-stats">
      <span><strong>Status:</strong> {{data.intro_status}}</span>
      <span><strong>Recieved Feedback:</strong> 4</span>
      <span><strong>Votes:</strong> 15</span>
      <span><strong>Intro Link: </strong><a href="/profile/{{data.twitchname}}" target="blank">http://www.twitchdb.tv/profile/{{data.twitchname}}</a></span>
      <span><strong>Feedback Link: </strong><a href="/profile/feedback/{{data.twitchname}}" target="blank">http://www.twitchdb.tv/profile/feedback/{{data.twitchname}}</a></span>
    </div>
  </div>

<!--
  <div id="feedback">
    <div class="row">
      <div class="col s8 offset-s2 new-feedback">
        <a href="#modal1" class="modal-trigger"><img src="profile.jpg" class="circle hoverable"></a>
        <a href="#modal1" class="modal-trigger"><img src="profile.jpg" class="circle hoverable"></a>
      </div>
    </div>
    <div id="modal1" class="modal  grey darken-3">
      <div class="row">
        <img src="profile.jpg" class="circle hoverable profile-img left">
        <h5 class="left feedback-header">cooluser32</h5>
      </div>
      <div class="row">
        bla bla bla bla bla bla<br><br><br>
      </div>
      <div class="row">
        <a class="waves-effect waves-purple btn grey darken-2">Delete</a>
        <a class="waves-effect waves-purple btn right grey darken-2">Close</a>
      </div>
    </div>
  </div>
-->



{% endblock %}
