<div class="row">
  <div class="col l12 m12 s12">
    <p>You <strong>MUST</strong> explicitly add which days you stream. If you just add "monday" and then "friday" it will be assumed you only stream on those days instead of "monday" through "friday".</p>
    <p>If you have multiple time slots on the same day, you can add those as well! Timezones are added automatically.</p>
    <p>Time format is 24h</p>
  </div>
</div>
<div class="row">
  <div class="col l3 m3 s3">
    <a href="#" class="btn addfield grey darken-3">Add Day</a>

  </div>
  <div class="col l3 m3 s3">
    <a href="#" class="btn removefield grey darken-3">Remove Last Day</a>

  </div>
</div>
<div class="row">
  <div class="col l12 m12 s12">
    <form class="scheduleform" action="">
      <div class="row schedule">
        <div class="input-field col l4 m4 s4 day"></div>
        <div class="input-field col l4 m4 s4 hour-start"></div>
        <div class="input-field col l4 m4 s4 hour-end"></div>
      </div>
    </form>
  </div>
</div>
