{% include "./header.html" %}
<div class="container-fluid">
<div class="row">
	<center>There are {{total}} sreams and {{live}} online streams</center><hr>
	{% for stream in data %}
	<div class="col-md-4 livestream">
		<div class="thumbnail">
			<div class="caption">
				<h4>
					{{stream.streams.channel.name}}
					<span class="label label-default pull-right">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<small class="viewcount">{{stream.streams.viewers}}</small>
					</span>
					<small>playing: <b>{{stream.streams.game}}</b></small>
				</h4>
			</div>
			<img src="{{stream.streams.preview.large}}" class="img-rounded">

			<div class="caption">
				<small class="status">{{stream.streams.channel.status}}</small>
			</div>
			<hr>
			<a href="http://www.twitch.tv/{{stream.streams.channel.name}}" class="btn btn-default" role="button" target="_Blank">View Stream {%if stream.streams.channel.mature%}
				<small style="color: red"> [M]</small>
				{%endif%}</a>
			<a href="/profile/u/{{stream.streams.channel.name}}" class="btn btn-default" role="button" target="_Blank" style="float: right;">View Intro</a>
		</div>
	</div>
	{% endfor %}
</div>

</div>

<script src="/js/streams.js?r={{rng}}"></script>
{% include "./footer.html" %}
