{%for user in streams %}
<pre>
</pre>
<div class="col l3 m6 livestream" data-username="{{user.channel.name}}">
  <div class="panel">
    <header>
      <nav class="z-depth-4">
        <div class="nav-wrapper grey darken-4" style="overflow: hidden;">
          <ul>
            <li><a href="http://www.twitch.tv/{{user.channel.name}}" target="_blank"><span class="fa fa-desktop"></span> View</a></li>
            <li><a href="http://player.twitch.tv/?volume=3&channel={{user.channel.name}}" target="_blank"><span class="fa fa-external-link"></span> Popout</a></li>
            <li><a href="/user/{{user.channel._id}}" target="_blank"><span class="fa fa-user"></span> Intro</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Come%20watch%20this%20stream%20with%20me!%0A%0Ahttp%3A%2F%2Fwww.twitch.tv%2F{{user.channel.name}}%0A%0Avia%20http%3A%2F%2Fwww.twitchdb.tv" target="_blank"><span class="fa fa-twitter"></span> Tweet</a></li>
          </ul>
        </div>
      </nav>
      <img src="{{user.preview.large}}" class="responsive-img"/>
    </header>
    <footer>
      <div class="col l2 hide-on-med-and-down" style="padding-left: 0;">
        <a href="/user/{{user.channel.name}}" target="_blank" style="display: block;">
          {%if user.channel.logo != null %}
            <img src="{{user.channel.logo}}" class="responsive-img">
          {%else%}
            <img src="http://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png" class="responsive-img" >
          {%endif%}
        </a>
      </div>
      <div class="col l10 s12" style="padding-right: 0px;">
        <p class="panel-title"><strong>{{user.channel.name}}</strong></p>
        <p class="panel-subtitle">{{user.channel.status}}</p>
        <p class="panel-subtitle">{%if user.channel.game == "Creative" %}Being {%else%}Playing: {%endif%} {{user.channel.game}}</p>
        <p class="panel-subtitle">{{user.viewers}} viewers</p>
      </div>
    </footer>
  </div>
</div>
{%endfor%}
