{% include "./header.html" %}
<div class="container-fluid">
	{%if data %}

	<div class="filterbar">
		Games: <select class="gamefilter">
		<option value="all">All</option>
		{% for list in filter %}
		<option value="{{list.game}}">{{list.game}}</option>
		{% endfor %}
	</select>

		Viewers: <select class="viewfilter">
		<option value="all">All</option>
		{% for list in filter %}
		<option value="{{list.viewers}}">{{list.viewers}}</option>
		{% endfor %}
	</select>

		Video: <select class="videofilter">
		<option value="all">All</option>
		{% for list in filter %}
		<option value="{{list.video_height}}">{{list.video_height}}</option>
		{% endfor %}
	</select><br>
	 <strong>{{count}} streamers currently online out of {{total}}</strong>
	</div>

	{% for stream in data %}
	<div class="col-md-4 livestream" data-game="{{stream.streams.game}}" data-viewers="{{stream.streams.viewers}}" data-video="{{stream.streams.video_height}}">
		<div class="thumbnail">
			<div class="caption">
				<h4>
					{{stream.streams.channel.name}}
					<span class="label label-default pull-right">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<small class="viewcount">{{stream.streams.viewers}}</small>
					</span>
					<small>playing: <b>{{stream.streams.game}}</b></small>
				</h4>
			</div>
			<img src="{{stream.streams.preview.large}}" class="img-rounded">

			<div class="caption">
				<small class="status">{{stream.streams.channel.status}}</small>
			</div>
			<hr>
			<a href="http://www.twitch.tv/{{stream.streams.channel.name}}" class="btn btn-default" role="button" target="_Blank">View Stream {%if stream.streams.channel.mature%}
				<small style="color: red"> [M]</small>
				{%endif%}</a>
			<a href="/profile/u/{{stream.streams.channel.name}}" class="btn btn-default" role="button" target="_Blank" style="float: right;">View Intro</a>
		</div>
	</div>

	{% endfor %}
	{%else%}
	<h1>something broke D:</h1>
	{%endif%}
</div>

<script src="/js/streams.js?r={{rng}}"></script>
{% include "./footer.html" %}
