<html>
  <head>
    <title>TwitchDB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  <body>
        <style>
        .custom-text.text-lighten-1 {
            color: #7D58C1 !important;
        }
        .custom-text.text-darken-1 {
            color: #392D5D !important;
        }
        .custom.lighten-1:not(.disabled) {
            background-color: #7D58C1 !important;
        }
        .custom.darken-1:not(.disabled) {
            background-color: #392D5D !important;
        }
        </style>
        <div class="row custom lighten-1 valign-wrapper" style="margin: 0; height: 100%">
          <div class="col s12 m10 offset-m1 l8 offset-l2" style="padding: 0;">
            <h2 class="custom lighten-1 white-text center" style="font-weight: 300; margin: 0;">We're Moving...</h2>
            <br /><br /><br />
            <h4 class="custom lighten-1 white-text center" style="font-weight: 300; margin: 0;">Thank you for supporting TwitchDB so far. We want to make it even better by combining it with Twoos and /r/Twitch Advertisement Requests!</h4>
            <br /><br /><br />
            <div class="center">
              <a href="https://purple.plus" class="btn btn-large waves-effect white custom-text text-darken-1">Go to Purple+</a>
            </div>
          </div>
        </div>
  </body>
</html>
