<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  {% block head %}
    <link rel="stylesheet" href="/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/materialize.min.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
    <script src="/js/validator.min.js" charset="utf-8"></script>
    <script src="/js/moment.min.js" charset="utf-8"></script>
    <script src="/js/moment.years.js" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% endblock %}
  {% block headaddons %}
  {% endblock %}
</head>
<body>

  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons" style="line-height: 50px;">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Streams</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/surf">Channel Surf</a></li>
        <li><a href="/search">DB Search</a></li>
        <li><a href="https://github.com/distortednet/TwitchDB/commits/Beta/" target="_blank">Commit Log</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        {%if loggedin && isadmin %}<li><a class="dropdown-button" href="#!" data-activates="navdropdown">Admin</a></li>{% endif %}
        {%if loggedin%}<li><a href="/user/{{name}}">Profile</a></li>{%endif%}
        <li>{%if loggedin%}<a href="/logout">Logout</a>{%else%}<a href="{{authurl}}">Login Via Twitch</a>{%endif%}</li>
      </ul>
      <ul class="side-nav grey darken-3" id="mobile">
        <li><a href="/">Streams</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/surf">Channel Surf</a></li>
        <li><a href="/search">DB Search</a></li>
        <li><a href="#">Commit Log</a></li>
        {%if loggedin%}<li><a href="/user/{{name}}">Profile</a></li>{%endif%}
        <li>{%if loggedin%}<a href="/logout">Logout</a>{%else%}<a href="{{authurl}}">Login Via Twitch</a>{%endif%}</li>
    </ul>
    </div>
  </nav>
  {%if loggedin && isadmin %}
    <ul id="navdropdown" class="dropdown-content grey darken-3" style="margin-top: 50px !important;">
      <li><a href="/admin/tools" class="center" >Tools</a></li>
      <li class="divider"></li>
      <li><a href="/admin/intros/pending" class="center">Pending Intros</a></li>
      <li><a href="/admin/intros/approved" class="center" >Approved Intros</a></li>
      <li><a href="/admin/intros/rejected" class="center" >Rejected Intros</a></li>
      <li class="divider"></li>
      <li><a href="/admin/feedback/pending" class="center" >Pending feedback</a></li>
      <li><a href="/admin/feedback/approved" class="center" >Approved feedback</a></li>
      <li><a href="/admin/feedback/rejected" class="center" >Rejected feedback</a></li>
    </ul>
  {%endif%}
{% block content %}{% endblock %}


</body>
{% block footer %}
<script src="/js/site.js?random={{rng}}" charset="utf-8"></script>
{% endblock %}
</html>
