a[href="#4Head"],a[href="#BabyRage"],a[href="#BibleThump"],a[href="#BloodTrail"],a[href="#CoolCat"],a[href="#DansGame"],a[href="#EvilFetus"],a[href="#FailFish"],a[href="#FrankerZ"],a[href="#HeyGuys"],a[href="#KAPOW"],a[href="#Kappa"],a[href="#KappaHD"],a[href="#KappaPride"],a[href="#KappaRoss"],a[href="#Keepo"],a[href="#Kreygasm"],a[href="#MingLee"],a[href="#MiniK"],a[href="#MrDestructoid"],a[href="#NotLikeThis"],a[href="#OMGScoots"],a[href="#OpieOP"],a[href="#PJSalt"],a[href="#PogChamp"],a[href="#ResidentSleeper"],a[href="#SMOrc"],a[href="#SeemsGood"],a[href="#TheTarFu"],a[href="#WutFace"],a[href="#bleedPurple"],a[href="#copyThis"],a[href="#duDudu"],a[href="#imGlitch"],a[href="#mcaT"],a[href="#panicBasket"],a[href="#pastaThat"],a[href="#purpleHeart"],a[href="#szkPLS"],a[href="#twitchRaid"] {
    background-image: url("/img/emotes.png");
    background-repeat: no-repeat;
    display: inline-block
}

a[href="#4Head"] {
    width: 20px;
    height: 30px;
    background-position: -5px -5px
}

a[href="#BabyRage"] {
    width: 28px;
    height: 28px;
    background-position: -35px -5px
}

a[href="#BibleThump"] {
    width: 36px;
    height: 30px;
    background-position: -73px -5px
}

a[href="#BloodTrail"] {
    width: 41px;
    height: 28px;
    background-position: -119px -5px
}

a[href="#CoolCat"] {
    width: 28px;
    height: 28px;
    background-position: -170px -5px
}

a[href="#DansGame"] {
    width: 25px;
    height: 32px;
    background-position: -208px -5px
}

a[href="#EvilFetus"] {
    width: 29px;
    height: 30px;
    background-position: -5px -47px
}

a[href="#FailFish"] {
    width: 22px;
    height: 30px;
    background-position: -44px -47px
}

a[href="#FrankerZ"] {
    width: 40px;
    height: 30px;
    background-position: -76px -47px
}

a[href="#HeyGuys"] {
    width: 28px;
    height: 28px;
    background-position: -126px -47px
}

a[href="#KAPOW"] {
    width: 28px;
    height: 28px;
    background-position: -164px -47px
}

a[href="#Kappa"] {
    width: 25px;
    height: 28px;
    background-position: -202px -47px
}

a[href="#KappaHD"] {
    width: 28px;
    height: 28px;
    background-position: -126px -85px
}

a[href="#KappaPride"] {
    width: 28px;
    height: 28px;
    background-position: -164px -85px
}

a[href="#KappaRoss"] {
    width: 28px;
    height: 28px;
    background-position: -202px -85px
}

a[href="#Keepo"] {
    width: 27px;
    height: 29px;
    background-position: -5px -123px
}

a[href="#Kreygasm"] {
    width: 19px;
    height: 27px;
    background-position: -42px -123px
}

a[href="#MingLee"] {
    width: 28px;
    height: 28px;
    background-position: -71px -123px
}

a[href="#MiniK"] {
    width: 28px;
    height: 28px;
    background-position: -109px -123px
}

a[href="#MrDestructoid"] {
    width: 39px;
    height: 27px;
    background-position: -147px -123px
}

a[href="#NotLikeThis"] {
    width: 28px;
    height: 28px;
    background-position: -196px -123px
}

a[href="#OMGScoots"] {
    width: 22px;
    height: 28px;
    background-position: -42px -161px
}

a[href="#OpieOP"] {
    width: 21px;
    height: 30px;
    background-position: -74px -161px
}

a[href="#PJSalt"] {
    width: 36px;
    height: 30px;
    background-position: -105px -161px
}

a[href="#PogChamp"] {
    width: 23px;
    height: 30px;
    background-position: -151px -161px
}

a[href="#ResidentSleeper"] {
    width: 28px;
    height: 28px;
    background-position: -184px -161px
}

a[href="#SMOrc"] {
    width: 32px;
    height: 32px;
    background-position: -5px -199px
}

a[href="#SeemsGood"] {
    width: 28px;
    height: 28px;
    background-position: -184px -199px
}

a[href="#TheTarFu"] {
    width: 25px;
    height: 28px;
    background-position: -243px -5px
}

a[href="#WutFace"] {
    width: 28px;
    height: 28px;
    background-position: -243px -43px
}

a[href="#bleedPurple"] {
    width: 28px;
    height: 28px;
    background-position: -240px -81px
}

a[href="#copyThis"] {
    width: 28px;
    height: 28px;
    background-position: -240px -119px
}

a[href="#duDudu"] {
    width: 28px;
    height: 28px;
    background-position: -234px -157px
}

a[href="#imGlitch"] {
    width: 28px;
    height: 28px;
    background-position: -222px -195px
}

a[href="#mcaT"] {
    width: 28px;
    height: 28px;
    background-position: -47px -233px
}

a[href="#panicBasket"] {
    width: 28px;
    height: 28px;
    background-position: -85px -233px
}

a[href="#pastaThat"] {
    width: 28px;
    height: 28px;
    background-position: -123px -233px
}

a[href="#purpleHeart"] {
    width: 24px;
    height: 18px;
    background-position: -222px -233px
}

a[href="#szkPLS"] {
    width: 28px;
    height: 28px;
    background-position: -278px -5px
}

a[href="#twitchRaid"] {
    width: 28px;
    height: 28px;
    background-position: -281px -43px
}
