body {
	background-image: url("/img/noise.png");
	overflow-x: hidden;
}
html, body {
height:100%;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 8px;
}

#note {
	display: none;
	position: absolute;
	z-index: 6001;
	top: 0;
	left: 0;
	right: 0;
	background: #8ee6a7;
	text-align: center;
	line-height: 2.5;
	overflow: hidden;
	-webkit-box-shadow: 0 0 1px black;
	-moz-box-shadow: 0 0 1px black;
	box-shadow: 0 0 1px black;
	color: black;
}

#result {
	display: none;
}

.form-left {
	width: 18%;
	float: left;
	margin-bottom: 10px;
}

.form-right {
	width: 65%;
	float: left;
	margin-bottom: 10px;
}

.form-message {
	width: 100%;
	float: left;
}

.status {
	display: block;
	height: 17px;
	overflow: hidden;
	width: 100%;
}
textarea, input { outline: none; }
textarea, input, select {
	background-color: #343940;
	border: 0px;
	color: white;
	padding: 4px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.73);
	margin-bottom: 4px;
}

textarea {
	width: 100%;
	height: 120px;
}

#textarea-long {
	height: 400px;
	opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 8px;
	padding-bottom: 0px;
}

#step-1 {
}

#step-2 {
	display: none;
}

#intro-url {
	width: 300px;
}

#done {
	display: none;
}

#frontpage {
	margin-top: -20px;
}

.frontpagestreams {
	margin-top: 20px;
	height: 100%;
	width: 100%;
}

.frontpagestreams img {
	width: 192px;
	height: 108px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.73);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 8px;
}

.frontpagestreams img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	cursor: pointer;
}

.featured object {
	width: 601px;
	height: 369px;
	display: block;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.73);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.73);
}

.modimg {
	height: 120px;
	width: 120px;
	border: 1px solid black;
	transition: all .2s ease-in-out;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.modimg:hover {
	transform: scale(1.2);
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
	-webkit-filter: none;
	filter: none;
}

#list-images {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

#list-images li {
	position: relative;
	float: left;
	display: block;
	right: 50%;
	margin-left: 16px;
	margin-top: 8px;
}

.linebreak {
	white-space: pre-wrap;
}

.dataTables_filter {
	float: right;
	margin-left: 40px;
}

.dataTables_length {
	float: left;
}

.dataTables_info {
	float: left;
}

.dataTables_paginate {
	float: right;
}

.dataTables_paginate span .paginate_button {
	margin-left: 2px;
	margin-right: 2px;
}

#admintable_next, #admintable_previous {
	padding: 8px;
}

.dataTables_paginate span:hover, #admintable_next:hover, #admintable_previous:hover {
	cursor: pointer;
}

.filterbar {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.filterbar select {
	margin-right: 2px;
}
.editprofile {
	display: none;
}
.surfplayer {
	height: 93%;
	width: 80%;
	float: left;
	margin-bottom: 8px;
}
.chat_embed {
	float: right;
	width: 20%;
	height: 93%;
	margin-bottom: 8px;
}
.livestream {
	display: none;
}
